@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-primary: var(--font-bricolage-grotesque);
    --font-secondary: var(--font-bebas-neue);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

.container_lg {
    @apply w-[96%] mx-auto max-w-[1440px];
}
.main_container {
    @apply mx-auto max-w-[1340px] w-[96%];
}

.banner_bg {
    background: url("../assets/banner-vecotor.png") top left no-repeat;
    background-size: cover;
}
.experience_section_bg {
    background: url("../assets/Vector.png") top left no-repeat;
    background-size: cover;
}
.contact_section_bg {
    background: url("../assets/contactus-vector.png") bottom left no-repeat;
    background-size: cover;
}

.secondary_section_bg {
    @apply text-white rounded-2xl md:rounded-[40px] px-5 sm:px-10 md:px-16 sm:pt-[90px] pt-8 sm:pb-[70px] pb-8;
}

.button_icon {
    @apply border rounded-full;
}

.title_text {
    @apply lg:text-[78px] md:text-6xl sm:text-5xl text-[30px] font-bold leading-normal;
}
.text_highlight {
    @apply text-white bg-black px-2 rounded-md;
}
